
.defalut-tittle{
    color: var(--c-black);
    font-family: "Puvi_Bold";
}
.defalut-tittle-sm{
    color: var(--c-black);
    font-size: 14px;
    padding-left: 4px;
}
::placeholder{
    color: var(--c-grey);
}

.prof-msg{
    display: inline-block;
    overflow:hidden;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fw600{font-weight: 600;}
.cp{cursor: pointer;}